[submodule "ext/jquery"]
	path = ext/jquery
	url = git://github.com/jquery/jquery.git
[submodule "ext/modestmaps-js"]
	path = ext/modestmaps-js
	url = https://github.com/stamen/modestmaps-js.git
[submodule "ext/wax"]
	path = ext/wax
	url = git@github.com:mapbox/wax.git
[submodule "ext/easey"]
	path = ext/easey
	url = git@github.com:mapbox/easey.git
